<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Welocme to text analysere . Enter your text here</h1>
   <form action="/analyze" method="get">

    <textarea name="text" id="" cols="90" rows="10"></textarea>
    <br>
     <input type="checkbox" name="removepunc">Remove punchutati <br>
     <input type="checkbox" name="fullcaps">Uppercase <br>
     <input type="checkbox" name="newlineremover">new line reomover <br>
     <input type="checkbox" name="extraspaceremover">extraspaceremover <br>

    <button type="submit">Analyse text</button>

   </form>

   
</body>
</html>